@font-face {
    font-family: "BYekan";
    src: url("../fonts/BYekan+.ttf") format("ttf"),
    url("../fonts/BYekan+\ Bold.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}
html , #root{
    height: 100%;
}
body{
    direction: rtl;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgb(9, 185, 104);
    background: linear-gradient(90deg , rgb(7, 190 ,105)0% ,
    hsla(186,100%,69%,1)100%);
    background: -moz-linear-gradient(90deg, rgb(7, 190, 105) 0%,
    hsla(186,100%,69%,1)100%);
}
*{
    font-family: BYekan;
    direction: rtl;
    text-align: right;
}
.nh{
    height: fit-content;
}

